/*	start our fromework	*/
*{
	/* للعنصر width غير محسوب ضمن الـ padding والـ border تجعل الـ */
	/* فانحجم العنصر يبفى ثابت لا يزداد border, padding يعني عند عمل */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	width: 1200px;
	margin: auto;
}

.text-center{
	text-align: center;
}

.upper{
	text-transform: uppercase;
}

.main-color{
	color: #f7600e;
}

.main-background{
	background-color: #f7600e;
}

/* change the placeholder text and font-size */
::-webkit-input-placeholder{
	font-size: 14px;
	color: #f7600e;
}

::-moz-input-placeholder{
	font-size:14px;
	color: red;
}

::-ms-input-placeholder{
	font-size: 14px;
	color: red;
}

.hidden{
	display: none;
}
/*	End our fromework	*/

/* start header */
.header{
	background-image: url('../images/carousel03.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
	-webkit-background-size: cover; /* fill the screen */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

.overlay{
	background-color: rgba(38, 27, 27, 0.7);
	width: 100%;
	height: 100%;
}

.header .container
{
	/*position: relative;*/
}

.header .navbar{
	overflow: hidden;
	padding: 20px 0;
	color: #fff;
	width: 100%;
}

.header .navbar .logo{
	font-size: 24px;
}

.header .navbar .links{
	float: right;
}

.header .navbar .links i{
	margin-left: 5px;
}

.header .intro h1{
	margin: 0;
	font-weight: 800;
	font-size: 40px;
}

.header .intro p{
	margin: 8px 0 40px;
	line-height: 1.9;
	font-size: 20px;
	color: #e2e2e2;
}

.header .buttons button{
	background: transparent;
	color: #fff;
	border: 1px solid #909090;
	border-radius: 10px;
	padding: 10px 0;
	width: 180px;
	font-size: 14px;
	margin: 0px 8px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.header .buttons button:hover{
	background-color: #f7600e;
	color: #fff;
	border: 1px solid #f7600e;
}

.header .arrow
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	cursor: pointer;
}

.header .arrow i {
    border: 2px solid #fff;
    border-radius: 50%;
	width: 38px;
	height: 38px;
	line-height: 34px;
}
/* End header */

/* start feature */
.features{
	padding: 80px 0;
	overflow: hidden;
}

.features .box{
	width: 22%;
	float: left;
	margin-right: 4%;
}

.features .box:last-child{
	margin-right: 0;
}

.features .box i{
    border: 2px solid #ccc5c5;
    width: 100px;
	height: 100px;
    border-radius: 50%;
	line-height: 100px;
    color: #f7600e;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.features .box i:hover{
	background: #f7600e;
	color: #fff;
	border: 2px solid #f7600e;
}

.features .box h3{
	text-transform: uppercase;
}

.features .box p{
	line-height: 25px;
	color: #483a3a;   
}
/* end feature */

/* start subscrib */
.subscribe{
	background-image: url('../images/carousel02.jpg');
	-websit-background-size: cover;
	-moz-background-size: cover; 	
	-o-background-size: cover;
	background-size: cover;
}

.subscribe form{
	padding: 100px 0;
    width: 600px;
    margin: auto;
    text-align: center;
}

.subscribe form input[type='email']{
	padding: 4px 10px;
    width: 350px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
	font-family: Andauls;
}

.subscribe form button{
	padding: 10px;
	width: 180px;
	background: #f7600e;
	border: none;
	color: #fff;
	border-radius: 10px;
	margin-left: 25px;
}
/* end subscrib */

/* start our-work */
.our-work{
	padding: 50px 0;
}

.our-work h2{
	font-weight: 500;
	font-size: 35px;
	margin-bottom: 0;
}

.our-work h2 ~ p{
	line-height: 2;
}

.our-work .show-more{
	padding: 10px;
    border-radius: 10px;
    width: 180px;
    background: transparent;
    border: 1px solid #ccc;
    margin-top: 20px;
    color: #333;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.our-work .show-more:hover{
	background: #f7600e;
	border: 1px solid #f7600e;
	color: #fff;
}

.our-work .items-box{
	overflow: hidden;
	margin-left: 100px;;
}

.our-work .items-box .item{
	float: left;
	width: 30%;
	overflow: hidden;
	margin-left: 1.33333%;
	margin-bottom: 12px;
	border-radius: 10px;
	position: relative;
}

.our-work .items-box .item:hover .over{
	display: block;
}

.our-work .items-box .item .over{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(247, 96, 14, .8);
	color: #fff;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	display: none;
}

.our-work .item .over h3{
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 0;
}

.our-work .item .over p{
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	line-height: 2;
}

.our-work .item .over button{
	background: transparent;
    padding: 10px;
    width: 180px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.our-work .item .over button:hover{
	background: #fff;
	color: #f7600e;
	border: 1px solid #fff;
}
/* end our-work */

/* start testimonials */
.testimonials{
	background: url('../images/carousel01.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.testimonials .container{
	position: relative;
}

.testimonials .client{
	padding: 50px 0;
	color: #fff;
	font-size: 20px;
}

.testimonials .client img{
	border-radius: 50%;
	width: 150px;
}

.testimonials .client p{
	line-height: 2;
	font-style: italic;
}

.testimonials .fa-chevron-left{
	position: absolute;
	top: 50%;
	left: 0;
	color: #ddd;
	cursor: pointer;
}

.testimonials .fa-chevron-left:hover{
	color: #f7600e;
}

.testimonials .fa-chevron-right{
	position: absolute;
	top: 50%;
	right: 0;
	color: #ddd;
	cursor: pointer;
}

.testimonials .fa-chevron-right:hover{
	color: #f7600e;
}
/* end testimonials */

/* start our-team */
.our-team h3{
	font-size: 35px;
	margin-bottom: 0;
}

.our-team .main-p{
	margin: 10px 0 40px;
	line-height: 1.5;
	color: #666;
	font-size: 20px;
}

.our-team .the-team{
	overflow: hidden;
}

.our-team .the-team .person{
	float: left;
	width: 24%;
	margin-left: 1%;
	overflow: hidden;
	color: #888;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.our-team .the-team .person:hover img{
	filter: none;
	-websit-filter: grayscale(0);
}

.our-team .the-team .person:hover{
	color: #444;
}

.our-team .the-team .person img{
	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.our-team .the-team .person p{
	font-size: 15px;
}

.our-team .the-team .social-icons i{
	background-color: #897878;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	border-radius: 50%;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.our-team .the-team .person:hover .social-icons .fa-facebook{
	background-color: #3b5998
}

.our-team .the-team .person:hover .social-icons .fa-twitter{
	background-color: #55acee
}

.our-team .the-team .person:hover .social-icons .fa-google-plus{
	background-color: #cd4e41
}
/* end our-team */

/* start contact */
.contact{
	background: url('../images/contact.png');
	margin-top: 40px;
}

.contact .overlay{
	padding: 50px 0;
	color: #fff;
}

.contact h3{
	font-size: 35px;
}

.contact p{
	font-size: 20px;
	line-height: 1.5;
	color: #d1c3c3;
}

.contact form{
	width: 800px;
	margin: 50px auto;
	text-align: center;
	overflow: hidden;
}

.contact form input[type='text'],
.contact form input[type='email']{
	width: 45%;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-radius: 10px;
	border: 1px solid #ccc;
	background: transparent;
	color: #d1c3c3;
}

.contact form input[type='text']{
	float: left;
}

.contact form input[type='email']{
	float: right;
}

.contact form textarea{
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	height: 140px;
	border-radius: 10px;
	border: 1px solid #ccc;
	background: transparent;
	color: #d1c3c3;
}

.contact form .info{
	overflow: hidden; /* for the property float in the child of class .info */
	margin-top: 10px;
}

.contact form .info button{
	float: left;
	padding: 10px;
	width: 180px;
	background: #f7600e;
	border: none;
	color: #fff;
	border-radius: 10px;
}

.contact form .info .form-icons{
	float: right;
}

.contact form .info .form-icons i {
	background-color: #897878;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	border-radius: 50%;
}

.contact form .info .form-icons .fa-facebook{
	background-color: #3b5998
}

..contact form .info .form-icons .fa-twitter{
	background-color: #55acee
}

.contact form .info .form-icons .fa-google-plus{
	background-color: #cd4e41
}
/* end contact */

/* start footer */
.footer{
	background-color: #3b434c;
	color: #fff;
	overflow: hidden;/* for the child of element .footer */
	padding: 30px 0;
}

.footer .copy-right{
	float: left;
}

.footer .design{
	float: right;
}
/* end footer */